<!-- <div *ngIf="courses.length > 0; then courseList else noCourses"></div>
<ng-template #courseList>
List of Courses
</ng-template>
<ng-template #noCourses>
  No Course Avaiable
</ng-template> -->

<!-- <div [hidden]="courses.length == 0">
  List of Courses
</div>

<div [hidden]="courses.length > 0">
  No Course Available
</div> -->

<!-- <ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
  <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>OtherWise Load this</div>
</div> -->

<!--
<ul>
  <li *ngFor="let course of courses; even as isEven">
    {{course.name}} <span *ngIf="isEven">Even Line</span>
  </li>
</ul> -->


<!-- ngFor with TrackBy-->

<button (click)="loadCourse()">Load the Courses</button>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourses">
    {{course.name}}
  </li>
</ul>

<app-product></app-product>

<router-outlet></router-outlet>
